<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ base_url }}/</loc>
    <priority>1.0</priority>
    <changefreq>daily</changefreq>
  </url>
  <url>
    <loc>{{ base_url }}/about.html</loc>
    <priority>0.8</priority>
    <changefreq>monthly</changefreq>
  </url>
{% for site_name, site_slug in site_slugs %}
  <url>
    <loc>{{ base_url }}/{{ site_slug }}.html</loc>
    <priority>0.9</priority>
    <changefreq>daily</changefreq>
  </url>
{% endfor %}
{% for article in articles %}
  <url>
    <loc>{{ base_url }}/a/{{ article.article_id }}.html</loc>
    <priority>0.7</priority>
    <changefreq>daily</changefreq>
    {% if article.published_date %}<lastmod>{{ article.published_date.strftime('%Y-%m-%d') }}</lastmod>{% endif %}
  </url>
{% endfor %}
{% for note_file in note_files %}
  <url>
    <loc>{{ base_url }}/notes/{{ note_file }}</loc>
    <priority>0.8</priority>
    <changefreq>daily</changefreq>
  </url>
{% endfor %}
</urlset>